body {
  margin: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a3c3ee;
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.countener {
   text-align: center;
}
